<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.run.picseledemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".PicseleActivity" />
        <activity android:name=".PreViewActivity" />
    </application>
</manifest>
